body {
  background-color: rgb(56, 14, 47);
  max-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 10% 30% 60%;
}
main {
  grid-area: 1/1 / span 1 / span 3;
}
h1 {
  text-align: center;
  color: white;
}
section {
  padding: 10px;
  margin: 10px;
  overflow-x: hidden;
  overflow-y: scroll;

  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.5);
}
